Source: udjat-module-atasmart
Section: unknown
Priority: optional
Maintainer: Perry Werneck <perry.werneck@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, autoconf, automake, pkg-config, gettext, libudjat-dev, libpugixml-dev, libudjatsysinfo-dev

Package: udjat-module-atasmart
Architecture: any
Section: libs
Depends: ${misc:Depends}
Description: ATA SMART module for udjat.
 ATA S.M.A.R.T. Disk Health Monitoring module for udjat.

Package: udjat-module-atasmart-dbg
Architecture: any
Depends: libudjat (= ${binary:Version})
Description: Debugging symbols for udjat-module-atasmart
 This package contains the debugging symbols for udjat-module-atasmart.

